:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --primary-font: "Poppins", sans-serif;
  --display-font: "Playfair Display", serif;
}
body {
  font-family: var(--primary-font);
}
h1,
h2 {
  font-family: var(--display-font);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero h1 {
  margin: 0;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: var(--display-font);
}
.btn-branding {
  background-color: var(--primary-color);
  padding: 14px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--primary-font);
  color: white;
  line-height: 27px;
}
.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  line-height: 27px;
  border: 1px solid var(--primary-color);
  padding: 14px 30px;
}
.hero {
  background-color: var(--secondary-color);
  padding: 160px 30px;
  text-align: center;
}
.project-description {
  padding: 50px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
